<div class="panel panel-default">
    <div class="panel-heading">
        {{ block.title }}
    </div>

    <div class="panel-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>